.image img {
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.red {
  height: 400px;
  width: 100%;
  background-color: cornflowerblue;
}
.green {
  height: 400px;
  width: 100%;
  background-color: goldenrod;
}

.blue {
  height: 400px;
  width: 100%;
  background-color: yellowgreen;
}
